.product{
  padding: 10px;
  height: 100px;
}
.display-flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
}
.buy{
  margin: 15px;
}
.product-description {
  word-break: break-word;
  max-width: 50%;
}
.product.notAvailable {
  border : 1px solid red;
}
.resize {
  height: 250px;
  width: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 30%;
}